<div class="modal-product-view">
  <div class="overlay"></div>
  <div class="modal-product-view-container flex">
    <div class="modal-product-view-image flex-1">
      <img >
    </div>
    <div class="modal-product-view-details flex-1 flex aic jcc colum">
      <h1>{{article?.nomArticle}}</h1>
      <div class="modal-product-view-details-price">
        <h2> Solde {{article?.oldPrixArticle}} FCFA</h2>
        <del>Prix {{article?.prixArticle}} FCFA</del>
      </div>
      <div class="modal-product-view-details-created-at">
        <h3>Description:  {{article?.descriptionArticle}}</h3>
        <h3>Nombre de stock:  {{article?.stockArticle}}</h3>
        <h3>Date de Mise à jour {{article?.dateCreationArticle | date}}</h3>
      </div>


      <button
        (click)=fermerModal()
        class="btn" >Fermer</button>
    </div>
  </div>
</div>
