<div class="modal-product-view">
  <div class="overlay"></div>
  <div class="modal-product-view-container">
    <div class="row">
      <div class="col-4">
        <div class="modal-product-view-image">
          <img [src]="article?.imageArticle" [alt]="article?.nomArticle">
        </div>
      </div>
      <div class="col-8">
        <div class="modal-product-view-details">
          <h2>{{article?.nomArticle}}</h2>
          <div class="modal-product-view-details-price">
            <h5>Prix {{article?.prixArticle}} FCFA</h5>
          </div>
          <div class="modal-product-view-details-created-at">
            <h5>Description:  {{article?.descriptionArticle}}</h5>
            <h5>Nombre de stock:  {{article?.stockArticle}}</h5>
            <h5>Date de Mise à jour {{article?.dateCreationArticle | date}}</h5>
          </div>
        </div>
      </div>
    </div>
      <div class="modal-product-view-button">
        <button (click)=fermerModal() type="button" class="btn btn-dark">Fermer</button>
        <button  type="button" class="btn btn-warning">Ajout</button>
    </div>
  </div>
</div>


