<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <img src="assets/image/logo-BF.jpg">
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-column">
        <div class="nav-item">
        <span class="footer-title">Réséeaux Sociaux</span>
        </div>
        <div class="reseaux-sociaux">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-whatsapp"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span id="contact" class="footer-title">Contact</span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><i class="fas fa-home"></i>Cité Fadia</span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><i class="fas fa-phone"></i>+221 77 XXX XX</span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><i class="fas fa-comments"></i>+221 77 XXX XX</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
