<div class="container text-center">
  <div class="row">
    <div class="col" *ngFor="let article of articles">

      <div class="card">
        <img src="/assets/image/ex1.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Modele de l'article</h5>
          <div class="article-nom">
            <h3>{{article?.nomArticle}}</h3>
          </div>
          <div class="article-prix">
            <h3>{{article?.prixArticle}} CFA</h3>
          </div>
          <p class="card-text">{{article?.descriptionArticle}}</p>
          <p class="card-text">Mise à jour le .</p>

          <a href="#" class="btn btn-secondary">Commander</a>
        </div>
      </div>
    </div>
</div>
</div>

